.xy-btn-text {
  background-color: transparent;
  color: var(--primary100);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}



.xy-btn-text:hover {
    background-color: var(--primary10);
}

.xy-btn-contained {
  background-color: var(--primary100);
  color: var(--neutral0);
}


.xy-btn-small {
  padding: 3px 9px;
  font-size: 13px;
  font-weight: 500;
  line-height: 22.75px;
}

.xy-btn-medium {
  padding: 5px 15px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24.5px;
}

.xy-btn-large {
  padding: 7px 21px;
  font-size: 15px;
  font-weight: 500;
  line-height: 26.25px;
}

